@tailwind base;
@tailwind components;
@tailwind utilities;
.width-form {
  width: 25rem;
}

.form-style {
  @apply flex flex-col items-end gap-2;
}
.input-wrapper {
  @apply relative flex items-center;
}
.input-field {
  @apply px-2 py-0.5 border w-56;
} 
.error-field {
  @apply  text-red-600 text-xs;
}
.button-wrapper {
  @apply flex w-full self-center justify-around py-5;
}
.button-style {
  @apply border border-black px-3 py-1 text-sm;
}
.label-padding {
  @apply px-3;
}